<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.dao.CourseDAO">

    <resultMap id="courseMap" type="course">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="description" column="description" />
        <result property="inProgress" column="in_progress" />
        <result property="majorRelated" column="major_related" />
        <result property="deletable" column="deletable" />
        <association property="term" column="term_id" javaType="term" select="selectTerm" />
    </resultMap>

    <select id="isDeletable" resultType="boolean">
        select
            deletable
        from
            courses
        where
            id = #{id}
    </select>

    <select id="checkNotesExistForCourse" resultType="boolean">
        select exists(
            select 1
            from
                notes
            where
                course_id = #{course_id}
        )
        as
            value_exist
    </select>

    <select id="getCoursesByTerm" resultMap="courseMap">
        select
            id,
            name
        from
            courses
        where
            term_id = #{term_id}
    </select>
    <select id="getAllCourses" resultMap="courseMap" >
        select
            courses.id,
            courses.name,
            courses.description,
            courses.term_id,
            courses.in_progress,
            courses.major_related,
            courses.deletable,
            terms.start_date
        from
            courses
        left join
            terms
        on
            courses.term_id = terms.id
        order by
            terms.start_date desc
    </select>
    <select id="selectTerm" resultType="term">
        select *
        from terms
        where id = #{term_id}
    </select>

    <insert id="addCourse">
        insert into courses (name, description, term_id, in_progress, major_related)
        values (#{name}, #{desc}, #{termId}, #{inp}, #{mr})
    </insert>

    <delete id="deleteById">
        delete from courses where id = #{id}
    </delete>

    <update id="updateCourse">
        update
            courses
        set
            name = #{name},
            description = #{desc},
            term_id = #{termId},
            in_progress = #{inp},
            major_related = #{mr},
            deletable = #{deletable}
        where
            id = #{id}
    </update>
    <select id="getById" resultMap="com.example.dao.CourseDAO.courseMap" >
        select
            id,
            name,
            description,
            term_id,
            in_progress,
            major_related
        from
            courses
        where
            id = #{id}
    </select>
</mapper>