<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add a new note</title>
</head>
<body>
<div th:insert="templates :: top_info"></div>


<div align="center">
    <h1>Add note</h1>
    <form th:action="@{/notes_admin}" method="post" enctype="multipart/form-data">

        <label for="cid">Course: </label>
        <select id="cid" name="cid">
            <option th:each="course : ${courses}" th:value="${course.id}" th:text="${course.name}" />
        </select>
        <br>
        <br>
        <label for="content">Content: </label>
        <input id="content" type="text" size="50" name="content" placeholder="Type in what you learned today" />
        <br>
        <br>
        <label for="file" >File (optional): </label>
        <input id="file" name="file" type="file" />
        <input hidden="hidden" name="_method" value="POST">
        <br>
        <br>
        <input type="submit">
    </form>
</div>
</body>
</html>