<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Term Addition Page</title>
</head>
<body>
<div th:insert="templates :: top_info"></div>


<div align="center">
    <h1>Add new term</h1>
    <form th:action="@{/term}" method="post">
        <label for="name" >Name:</label>
        <input id="name" name="name" type="text" placeholder="yyyySemester">
        <br />
        <br />
        <label for="date">Start Date:</label>
        <input type="date" id="date" name="date">
        <input hidden="hidden" name="_method" value="POST">
        <br />
        <br />
        <input type="submit">
    </form>
</div>
<a th:href="@{/}">Index page</a>
</body>
</html>